---
import { ArrowRight } from 'lucide-react'
import { getCollection } from 'astro:content'

const stuff = (await getCollection('stuff', ({ data }) => data.draft !== true && data.hidden !== true)).sort((a, b) => +b.data.created - +a.data.created)

const base = import.meta.env.BASE_URL
---

<div class="mt-16 max-w-xl mx-auto">
  <div class="flex items-center gap-2 font-semibold">
    Stuff
  </div>

  <div class="prose prose-sm prose-sky sm:prose-base dark:prose-invert mt-4 space-y-4" id="stuff">
    {stuff.map(entry => (
      <article class="flex items-start gap-2">
        <ArrowRight className="size-4 h-7 shrink-0 opacity-75"/>
        <a href={`${base}${entry.slug}/`}>{entry.data.title}</a>
      </article>
    ))}
  </div>
</div>

<div class="mt-16 max-w-xl mx-auto">
  <div class="flex items-center gap-2 font-semibold">
    Links
  </div>

  <div class="prose prose-sm prose-sky sm:prose-base dark:prose-invert mt-4 space-y-4" id="stuff">
    <article class="flex items-start gap-2">
      <ArrowRight className="size-4 h-7 shrink-0 opacity-75"/>
      <div>Vodact's <a href="https://www.vodact.com/sandbox/quiz-answers.html" rel="noopener">Quiz answers</a> for many experiences
    </article>
  </div>
</div>
