---
import Layout from '../layouts/Layout.astro'
import StuffIndex from '@/components/blocks/StuffIndex.astro'
---

<Layout title="Sandstuff: Guides, resources and tools for Sandbox players.">
	<main class="mt-24 px-6 pb-16">
		<div class="prose prose-sm sm:prose-base dark:prose-invert max-w-xl mx-auto">
			<h1 class="text-balance">Hey fellow Sandbox player, here's some Sandstuff for you!</h1>
			<p class="lead">Sandstuff? Yeah, Sandstuff, you know, tools, guides and resources for the average Sandbox player (like you and me) to gain deeper insights and make navigating the Sandbox universe a little easier.</p>
		</div>

		<div class="max-w-xl mx-auto text-sm text-slate-500 mt-4">
			<p>Not affiliated with The Sandbox, just a happy player. All this is basically fan art in code. 😎</p>
		</div>

		<StuffIndex/>
	</main>
</Layout>
